.ml-12 {
  margin-left: 12px;
}
.mb-24 {
  margin-bottom: 24px;
}
.book {
  width: 132.4px;
  height: 150px;
  margin: 101px 520.6px 24px 547px;
}
.text-title {
  width: 292px;
  height: 68px;
  font-family: WorkSans;
  font-size: 34px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -1.77px;
  text-align: center;
  color: #000000;
}
.star {
  width: 31px;
  height: 30px;
  object-fit: contain;
}
